.ion-item1 {
    --ion-background-color: hsl(214, 76%, 55%); /* Fondo celeste claro */
    --ion-item-background: hsl(214, 76%, 55%); /* Asegurar fondo celeste */
    border-radius: 8px; /* Bordes redondeados */
    margin: 8px 0; /* Espaciado entre elementos */
  }
  
  .Modi h2,
  .Modi p {
    color: black !important; /* Texto en negro, usando !important para forzar el estilo */
  }
  