<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Access Denied</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
    <h2>You are not authorized to access this page</h2>
    <p>
      It seems you don't have the necessary permissions to view this content. If you believe this is an error, please contact support.
    </p>
    
    <ion-button expand="full" color="primary" routerLink="/login">
      Go to Login
    </ion-button>
  </div>
</ion-content>
