<ion-header>
  <ion-toolbar color="danger">
    <ion-title>¡Acceso denegado!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
    <h2>No tienes autorización para acceder a esta página.</h2>
    <p>
      Parece que no cuentas con los permisos necesarios para ver este contenido. Si crees que esto es un error, por favor contacta al soporte técnico
    </p>
    
    <ion-button expand="full" color="primary" routerLink="/login">
      Go to Login
    </ion-button>
  </div>
</ion-content>
